// Select.scss
.select-container {
    position: relative;
    width: 200px;
}

.select-display {
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

.select-options {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin-top: 2px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;

    li {
        padding: 8px;
        cursor: pointer;

        &:hover {
            background-color: #f0f0f0;
        }
    }
}