.service-unavailable-container {
    margin-top: 40px;
    margin-left: 10px;
    font-size: large;
    font-weight: bold;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}